/* --------------------------------------------------------------------------------
General
-------------------------------------------------------------------------------- */

.guarantee-inner-bg h2,
.works-section h2,
.sample-songs h2,
.testimonials h2 {
  color: #070e15;
  font-size: 3rem;
  font-weight: 600;
  text-align: center;
}

.arrows {
  color: rgb(0, 0, 0);
  display: flex;
  gap: 30px;
  justify-content: center;
  width: 25%;
  margin-top: 10px;
  margin-left: 17px;
}
.arrow-next {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}
.arrow-prev {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
}

svg {
  width: 36px;
  height: 36px;
  cursor: pointer;
}

.no-scrollbar {
  scrollbar-width: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* --------------------------------------------------------------------------------
Hero Section
-------------------------------------------------------------------------------- */

.hero {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 0px;
}

.hero img {
  padding: 0 -30px
}
  
.hero span {
  color: #feaf17;
}
  
.hero p {
  color: #474546;
  font-size: 1.2rem;
  text-align: center;
}


/* --------------------------------------------------------------------------------
How Songbee Works Section
-------------------------------------------------------------------------------- */

.works-section {
  background-color: white;
  position: relative;
  width: auto;
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 50px;
  padding: 0 40px 40px;
  border-radius: 25px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
}
.works-section h2 {
  margin-bottom: 0;
}

.works-arrows {
  display: flex;
  justify-content: space-evenly;
}

.works-arrows img {
  max-width: 9rem;
}

.works-images {
  display: flex;
  justify-content: center;
  gap: 10%;
  margin-top: 10px
}

.works-images div {
  width: 260px;
  display: flex;
  flex-direction: column;
  transition: transform 0.275s;
}

.works-images div:hover {
  transform: scale(1.2);
}

.works-images img {
  width: 100%;
  height: auto;
  border-radius: 15px;
}

.works-images span {
  color: #474546;
  width: 100%;
  text-align: center;
  font-size: 1.7rem;
  line-height: 1.9rem;
  font-weight: 700;
  margin-top: 15px;
}

.works-images p {
  color: #474546;
  text-align: center;
  font-size: 1rem;
  margin-top: 8px;
  padding: 0 9px;
}

.beesButton {
  max-width: 5rem;
  position: absolute;
  top: 94%;
  left: 50%;
  transform: translateX(-50%);
}

/* --------------------------------------------------------------------------------
Testimonials Section
-------------------------------------------------------------------------------- */

.testimonials-background {
  background-color: white;
  padding: 25px;
  margin-top: 75px;
}

.testimonials {
  background-color: #fff4df;
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 50px 42px;
  padding: 0px 30px 45px 30px;
  border-radius: 25px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
}

.testimonials h2 {
  margin-bottom: -2.1rem;
}

.slides {
  width: 100%;
  display: flex;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  margin-top: 60px;
}

.active-slide {
  min-width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 100px;
  scroll-snap-align: start;
}

.active-slide p {
  width: 250px;
  max-width: 250px;
  text-align: center;
  margin-top: 0;
}

.active-slideOne,
.active-slideTwo {
display: flex;
flex-direction: column;
align-items: center;
width: 50%;
height: 100%;
}

.bee-one,
.bee-two {
  min-width: 288px;
  height: 288px;
}

.star-one,
.star-two {
  width: 127.98px;
}

/* --------------------------------------------------------------------------------
Sample Songs Section
-------------------------------------------------------------------------------- */

.sample-outer-bg {
  background-color: white;
  padding: 65px 65px 50px;
}

.sample-songs {
  background-color: #fff4df;
  position: relative;
  padding: 1px 0 35px;
  margin: -75px 0 25px;
  border-radius: 25px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
}

.sample-songs h2 {
  text-align: center;
  font-size: 3rem;
  font-weight: 600;
}

.all-audios {
  height: max-content;
  width: 100%;
  display: flex;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  margin-bottom: 30px;
}

.active-audio {
  width: 100%;
  min-width: 100%;
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  height: 100%;
  scroll-snap-align: start;
}

.active-audio h3 {
  text-align: center;
}

.active-audio p {
  text-align: center;
}

/* --------------------------------------------------------------------------------
Occasions Section
-------------------------------------------------------------------------------- */

.occasions {
  background-color: white;
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 75px;
  padding: 0px 30px 45px 30px;
  border-radius: 25px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
}

.occasions h2 {
  text-align: center;
  font-size: 3rem;
  font-weight: 600;
}

.occasionSlides {
  width: 100%;
  display: flex;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  margin-top: 30px;
}

.active-occasion {
  min-width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 15px;
  padding: 0 7%;
  scroll-snap-align: start;
}

.active-occasion-single {
  min-width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 15px;
  padding: 0 7%;
  scroll-snap-align: start;
}

.active-occasion, .active-occasion-single h3 {
  font-size: 25px;
  text-align: center;
}

.active-occasionOne,
.active-occasionTwo,
.active-occasionThree {
display: flex;
flex-direction: column;
align-items: center;
width: 33%;
height: 100%;
}

.occasion-img {
  width: 100%;
  border-radius: 5px;
}

/* --------------------------------------------------------------------------------
Guarantee Section
-------------------------------------------------------------------------------- */

.guarantee-container {
  padding: 75px 65px 0;
}

.guarantee-container h2 {
  margin-bottom: 0;
}

.guarantee-sky-bg {
  position: relative;
  background-color: rgba(184, 213, 224, 0.73);
  background-image: url("https://res.cloudinary.com/dke4ukd0z/image/upload/v1714070466/Songbee/guarantee-background_dhhc0a.png");
  background-position: center;
  background-size: 80rem;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 7.5rem 12rem;
  border-radius: 25px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
}

.guarantee-inner-bg {
  position: relative;
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 15px;
  text-align: center;
  margin: 0;
  padding: 25px 100px;
  border-radius: 25px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
}

.guarantee-img-container {
  z-index: 1;
  width: 200px;
  position: absolute;
  left: 7%;
  top: 7%;
}

.guarantee-img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
}

.guarantee-img-bee {
  width: 75px;
  position: absolute;
  bottom: 0;
  top: 155px;
  left: 60px;
  right: 0;
}

.guarantee-text-container {
  margin: auto;
  max-width: 700px;
}

.guarantee-link {
  color: #feaf17;
  font-weight: bold;
}


/* --------------------------------------------------------------------------------
Device Responsivity
-------------------------------------------------------------------------------- */

@media (max-width: 1000px) {
  .active-slide {
    padding: 0 50px;
  }
}

@media (max-width: 815px) {
  /* --- LANDING PAGE --- */
  /* layout */
  .works-arrows {
    display: none;
  }
  .works-images {
    flex-direction: column;
    align-items: center;
  }
  .works-images img {
    width: 50%;
    margin: auto
  }
  .beesButton {
    margin-top: 30px;
  }
  /* sizing */
  audio {
    width: 275px
  }
  h2, .sample-songs h2 {
  font-size: 2rem;
  }
  .hero h1 {
    font-size: 30px;
    line-height: 3.5rem;
  }
  .hero p {
    font-size: medium;
  }
  .works-section h2 {
    margin-bottom: 15px;
  }
  .main-button {
    width: 12rem;
    height: 2.3rem;
    font-size: 1.2rem;
  }
  /* scrollables */
  .active-slide {
    flex-direction: column;
    align-items: center;
  }
  /* margin & padding */
  .works-section {
    margin-top: 25px;
  }
  .testimonials-background {
    margin-top: 50px;
  }
  .testimonials {
    margin-top: 25px;
    margin-bottom: 35px;
  }
  .sample-outer-bg {
    padding-bottom: 25px;
  }
  .guarantee-container {
    padding: 50px 40px 0;
  }
  .guarantee-sky-bg {
    padding-top: 75px;
    padding-bottom: 75px
  }
  .guarantee-inner-bg {
    padding: 25px 50px
  }
}

@media (max-width: 575px) {
  .hero h1 {
    font-size: 44px;
    line-height: 3rem;
  }
  .container {
    padding: 0 30px
  }
  .sample-outer-bg {
    padding: 65px 25px 25px
  }
  .testimonials {
    margin-left: 0;
    margin-right: 0;
  }
  .guarantee-container {
    padding: 50px 25px 0
  }
  .guarantee-inner-bg {
    margin: 0 10px;
    padding: 0 20px
  }
  .guarantee-inner-bg p {
    font-size: small;
  }
  footer {
    margin-top: 50px;
  }
  .flexContainer {
    flex-direction: column;
    align-items: center;
  }
}

/* --------------------------------------------------------------------------------
Newsletter
-------------------------------------------------------------------------------- */

.jr-newsletter {
  width: 60%;
  margin: auto;
  padding-left: 10%;
  margin-top: 50px;
  margin-bottom: -80px;
  padding-bottom: 50px;
}
.jr-newsletter h2 {
  font-size: 36px;
  margin-bottom: 0;
}
.jr-newsletter p {
  margin-left: 25px;
}
.jr-newsletter input {
  height: 30px;
  width: 350px;
  border-radius: 15px;
  padding-left: 25px;
  background-color: #f3f1eb;
  border: 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

#jr-newsletter-btn {
  width: 125px;
  height: 40px;
  font-size: medium;
  display: inline;
  margin-left: 25px;
}
