/* --------------------------------------------------------------------------------
Grid
-------------------------------------------------------------------------------- */

.grid {
  display: flex;
  flex: 0 1 auto;
  /* defaults to 'row' */
  flex-direction: row;
  flex-wrap: wrap;
  /* defaults to 'flex-start' */
  justify-content: flex-start;
  align-items: flex-start;
}

.grid-col {
  flex: 0 0 auto;
  padding: 0 0.5rem 0.5rem;
  box-sizing: border-box;
}

.grid-col_1 {
  flex-basis: 8.33333333%;
  max-width: 8.33333333%;
}

.grid-col_2 {
  flex-basis: 16.66666667%;
  max-width: 16.66666667%;
}

.grid-col_3 {
  flex-basis: 25%;
  max-width: 25%;
}

.grid-col_4 {
  flex-basis: 33.33333333%;
  max-width: 33.33333333%;
}

.grid-col_5 {
  flex-basis: 41.66666667%;
  max-width: 41.66666667%;
}

.grid-col_6 {
  flex-basis: 50%;
  max-width: 50%;
}

.grid-col_7 {
  flex-basis: 58.33333333%;
  max-width: 58.33333333%;
}

.grid-col_8 {
  flex-basis: 66.66666667%;
  max-width: 66.66666667%;
}

.grid-col_9 {
  flex-basis: 75%;
  max-width: 75%;
}

.grid-col_10 {
  flex-basis: 83.33333333%;
  max-width: 83.33333333%;
}

.grid-col_11 {
  flex-basis: 91.66666667%;
  max-width: 91.66666667%;
}

.grid-col_12 {
  flex-basis: 100%;
  max-width: 100%;
}

.arrows-one:hover {
  transform: none !important;
  box-shadow: none !important;
}

.arrows-two:hover {
  transform: none !important;
  box-shadow: none !important;
}

.beesButton {
  max-width: 5rem;
  position: absolute;
  top: 94%;
  left: 50%;
  transform: translateX(-50%);
}

svg {
  width: 36px;
  height: 36px;
  cursor: pointer;
}

.arrow-next {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}

.arrow-prev {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
}

.admin-button {
  margin: 0 auto;
  z-index: 100;
  width: 6rem;
  height: 3rem;
  color: var(--black\<deleted\|variable-f6301105\>);
  background-color: #feaf17;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  margin-bottom: 3px;
  font-family: Poppins, sans-serif;
  font-size: 1rem;
  font-weight: 600;
  transition: background-color 0.45s;
  display: flex;
  position: static;
  top: 99px;
  left: 219px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  border: 0;
  outline: 0;
}

.sample-songs h2 {
  text-align: center;
  font-size: 3rem;
  font-weight: 600;
  margin: 0;
}

.headerP {
  color: var(--black-4);
  text-align: center;
  letter-spacing: -0.01em;
  margin-top: 20px;
  font-family: Oswald, sans-serif;
  font-size: 4.6875rem;
  font-weight: 300;
  line-height: 4.6875rem;
  position: relative;
  font: 75px;
}

li {
  color: gray;
  margin-bottom: 8px;
}

.privacy-policy h2,
.guaranteePage h2 {
  color: #5b6b7b;
  font-size: 15px;
  margin-bottom: -12px;
}

.privacy-policy p,
.guaranteePage p {
  color: grey;
  line-height: 1.5rem;
  margin-bottom: 10px;
  letter-spacing: 0.015em;
  margin-bottom: 20px;
  font-size: 0.9375rem;
  font-weight: 400;
  line-height: 1.5rem;
}

.privacy-policy li:first-child {
  margin-top: -16px;
}

.mail-guarantee {
  color: #feaf17;
}

.guarantee-container {
  /* background-color: white; */
  padding-left: 65px;
  padding-right: 65px;
  padding-top: 75px
}
