/* --------------------------------------------------------------------------------
Grid
-------------------------------------------------------------------------------- */

.grid {
  display: flex;
  flex: 0 1 auto;
  /* defaults to 'row' */
  flex-direction: row;
  flex-wrap: wrap;
  /* defaults to 'flex-start' */
  justify-content: flex-start;
  align-items: flex-start;
}

.grid-col {
  flex: 0 0 auto;
  padding: 0 0.5rem 0.5rem;
  box-sizing: border-box;
}

.grid-col_1 {
  flex-basis: 8.33333333%;
  max-width: 8.33333333%;
}

.grid-col_2 {
  flex-basis: 16.66666667%;
  max-width: 16.66666667%;
}

.grid-col_3 {
  flex-basis: 25%;
  max-width: 25%;
}

.grid-col_4 {
  flex-basis: 33.33333333%;
  max-width: 33.33333333%;
}

.grid-col_5 {
  flex-basis: 41.66666667%;
  max-width: 41.66666667%;
}

.grid-col_6 {
  flex-basis: 50%;
  max-width: 50%;
}

.grid-col_7 {
  flex-basis: 58.33333333%;
  max-width: 58.33333333%;
}

.grid-col_8 {
  flex-basis: 66.66666667%;
  max-width: 66.66666667%;
}

.grid-col_9 {
  flex-basis: 75%;
  max-width: 75%;
}

.grid-col_10 {
  flex-basis: 83.33333333%;
  max-width: 83.33333333%;
}

.grid-col_11 {
  flex-basis: 91.66666667%;
  max-width: 91.66666667%;
}

.grid-col_12 {
  flex-basis: 100%;
  max-width: 100%;
}

.hero h1 {
  text-align: center;
  font-size: 72px;
  line-height: 3rem;
  line-height: 5.5rem;
  margin: 0;

}

.every {
  color: #feaf17;
}

.hero p {
  text-align: center;
  color: #474546;
  -webkit-text-stroke-color: #474546;
  margin-bottom: 0;
  font-size: 1.2rem;
}

.hero button {
  margin: 0 auto;
  z-index: 100;
    width: 14rem;
    height: 3rem;
    color: var(--black\<deleted\|variable-f6301105\>);
    background-color: #feaf17;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    margin-bottom: 3px;
    font-family: Poppins, sans-serif;
    font-size: 1.4rem;
    font-weight: 600;
    transition: background-color .45s;
    display: flex;
    position: static;
    top: 99px;
    left: 219px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
    border: 0;
    outline:0;
}
.hero {
  width: 100%;
  display: flex;
  flex-direction: column;
gap: 15px;
}
