.user-welcome {
    text-align: center;
}

.event-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1.5rem;
    height: 160px;
    justify-content: space-around;
  }

.event-item-header {
    display: flex;
    justify-content: center;
}

.event-item p {
    text-align: center;
}
