/* --------------------------------------------------------------------------------
General
-------------------------------------------------------------------------------- */

.user-welcome {
    text-align: center;
}

.tabHeader {
    background-color: #f2e9d8;
}

.tab-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 15px 50px 50px;
    background-color: #f2e9d8;
}

/* --------------------------------------------------------------------------------
Request History
-------------------------------------------------------------------------------- */

.noRequests {
    text-align: center;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, .2);
}

.userStartSong {
    margin: 0 auto;
    z-index: 100;
    width: 14rem;
    height: 3rem;
    color: var(--black\<deleted\|variable-f6301105\>);
    background-color: #feaf17;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
    font-family: Poppins, sans-serif;
    font-size: 1.4rem;
    font-weight: 600;
    transition: background-color 0.45s;
    display: flex;
    position: static;
    top: 99px;
    left: 219px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    border: 0;
    outline: 0;
}

/* --------------------------------------------------------------------------------
Request Item
-------------------------------------------------------------------------------- */

.event-item-header {
    display: flex;
    justify-content: center;
}

.event-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1.5rem;
    height: 160px;
    justify-content: space-around;
}
.event-item p {
    text-align: center;
}

.detailsBtn {
    background-color: #feaf17;
    border: 1px solid #000;
    border-radius: 13px;
    font-family: Poppins, sans-serif;
    font-weight: 600;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
    padding: 9px 15px;
}

/* --------------------------------------------------------------------------------
User Profile
-------------------------------------------------------------------------------- */

.profileHeader {
    font-family: Poppins;
    font-size: 2rem;
    color: rgb(51, 51, 51);
}

.modalBtns {
    margin: 10px;
    display:flex;
    justify-content: space-around;     
}

/* --------------------------------------------------------------------------------
User Credit
-------------------------------------------------------------------------------- */

.user-credit-tab {
    height: 14vh;
    padding-top: 3vh;
    background-color:antiquewhite;
}
.user-credit-tab p {
    text-align: center;
}
