/* This will be for styling the order history */

.recipientTitle {
    font-family: Poppins;
    font-size: 1.75rem;
    color: rgb(51, 51, 51);
}

.detailsBtn {
    background-color: #feaf17;
    border-radius: 10px;

}
.historyBody {
    background-image: url("../../../public/honey_combs.jpeg");
    width: 100%;
    
}
