/* This will be for styling the order history */

.recipientTitle {
    font-family: Poppins;
    font-size: 1.75rem;
    color: rgb(51, 51, 51);
}

.detailsBtn {
    background-color: #feaf17;
    border-radius: 10px;

}
.historyBody {
    background-image: url("../../../public/honey_combs.jpeg");
    width: 100%;
    
}

.noRequests {
    text-align: center;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, .2);
}

.userStartSong {
    margin: 0 auto;
    z-index: 100;
    width: 14rem;
    height: 3rem;
    color: var(--black\<deleted\|variable-f6301105\>);
    background-color: #feaf17;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
    font-family: Poppins, sans-serif;
    font-size: 1.4rem;
    font-weight: 600;
    transition: background-color 0.45s;
    display: flex;
    position: static;
    top: 99px;
    left: 219px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    border: 0;
    outline: 0;
}

.requestContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding-top: 50px;
}
