.bee-inner-background {
    background-color: white;
    margin: 0 50px;
    width: auto;
    padding: 25px 100px;
    border-radius: 25px;
    text-align: center;
    gap: 15px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
}

.bee-guarantee {
    background-color: rgba(184, 213, 224, 0.73);
    background-image: url("/guarantee-background.png");
    background-position: 50%;
    background-size: 100rem;
    background-attachment: fixed;
    padding: 7.5rem 1.4rem 7.5rem 1.4rem;
    border-radius: 25px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
}

.guarantee-text {
    margin: auto;
    max-width: 700px;
}

.guarantee-image {
    background-size: cover;
    position: absolute;
    left: 100px;
    top: 100px;
}

.guarantee-link {
    color: #feaf17;
    font-weight: bold;
}

.bee-guarantee p {
    text-align: center;
    color: #474546;
    font-weight: 500;
}

.guaranteePage {
    padding: 20px 60px !important;
}