.jrFormGroup {
    display: flex;
    gap: 30px;
    justify-content: center;
    margin-top: 25px;
}

.jrFormInput {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 50%;
}

.jrFormGroup input {
    height: 45px;
    border-radius: 8px;
    width: 100%;
    border: 0;
    padding-left: 15px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, .2);
}

.pack-img {
    max-width: 500px;
}

.jrFormGroup2 {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
}