

/* Team header */
.aboutHeader {
    text-align: center;
    text-decoration: underline;
    
}


/* These are for the profile pics */
.profileShots {
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.profile-img1 {
    border-radius: 45%;
    height: 240px; 
    margin: 5px;
    margin-left: auto;
    margin-right: auto;
    width: 220px;
   
}

/* This is for the direction of the QR codes */
.team-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* This is for the qr codes */
.profile-img {
    border-radius: 10px;
    height: 240px; 
    margin: 5px;
    margin-left: auto;
    margin-right: auto;
    
   
}

/* -------------------------------------
color code for the QR codes
---------------------------------------- */

/* 
For the dots
#e8d378 - pale yellow
#e78413 - pale orange

For the frame 
#2d3432
 */