

/* Team header */
.aboutHeader {
    text-align: center;
    text-decoration: underline;
    
}


/* These are for the profile pics */
.profileShots {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
  
    
}

.profile-img1 {
    border-radius: 45%;
    height: 240px; 
    margin: 5px;
    margin-left: auto;
    margin-right: auto;
    width: 220px;
   
}

/* This is for the qr codes */
.profile-img {
    border-radius: 10px;
    height: 240px; 
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-evenly;
   
}


.teamMember {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
   
}

