/* --------------------------------------------------------------------------------
Global
-------------------------------------------------------------------------------- */

html,
body,
#react-root {
  height: 100%;
  font-family: "Poppins";
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Poppins";
  src: url("../../../public/Poppins.ttf");
}

body {
  margin: 0px;
  background-color: #fff4df;
  max-width: 100%;
}

img {
  display: inline-block;
  max-width: 100%;
}

h1 {
  margin: 0;
  text-align: center;
  font-size: 72px;
  line-height: 5.5rem;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, .2);
}

/* --------------------------------------------------------------------------------
Container
-------------------------------------------------------------------------------- */

.container,
.privacy-policy,
.guaranteePage {
  padding: 0px 75px 0px 75px;
}

/* --------------------------------------------------------------------------------
Alert
-------------------------------------------------------------------------------- */

.alert {
  box-sizing: border-box;
  padding: 15px 10px;
  margin: 15px 0;
  border: 2px solid #e01616;
  background-color: #efefef;
  border-radius: 3px;
  color: #e01616;
  font-size: 0.8rem;
}

a {
  text-decoration: none;
}

/* --------------------------------------------------------------------------------
Device Responsivity
-------------------------------------------------------------------------------- */

@media (max-width: 1000px) {
  .active-slide {
    padding: 0 50px;
  }
}

@media (max-width: 815px) {
  /* --- LANDING PAGE --- */
  /* layout */
  .works-arrows {
    display: none;
  }
  .works-images {
    flex-direction: column;
    align-items: center;
  }
  .works-images img {
    width: 50%;
    margin: auto
  }
  .beesButton {
    margin-top: 30px;
  }
  /* sizing */
  audio {
    width: 275px
  }
  h2, .sample-songs h2 {
  font-size: 2rem;
  }
  .hero h1 {
    font-size: 48px;
    line-height: 3.5rem;
  }
  .hero p {
    font-size: medium;
  }
  .works-section h2 {
    margin-bottom: 15px;
  }
  .main-button {
    width: 12rem;
    height: 2.3rem;
    font-size: 1.2rem;
  }
  /* scrollables */
  .active-slide {
    flex-direction: column;
    align-items: center;
  }
  /* margin & padding */
  .works-section {
    margin-top: 25px;
  }
  .testimonials-background {
    margin-top: 50px;
  }
  .testimonials {
    margin-top: 25px;
    margin-bottom: 35px;
  }
  .sample-outer-bg {
    padding-bottom: 25px;
  }
  .guarantee-container {
    padding: 50px 40px 0;
  }
  .guarantee-sky-bg {
    padding-top: 75px;
    padding-bottom: 75px
  }
  .guarantee-inner-bg {
    padding: 25px 50px
  }
}

@media (max-width: 575px) {
  .hero h1 {
    font-size: 44px;
    line-height: 3rem;
  }
  .container {
    padding: 0 30px
  }
  .sample-outer-bg {
    padding: 65px 25px 25px
  }
  .testimonials {
    margin-left: 0;
    margin-right: 0;
  }
  .guarantee-container {
    padding: 50px 25px 0
  }
  .guarantee-inner-bg {
    margin: 0 10px;
    padding: 0 20px
  }
  .guarantee-inner-bg p {
    font-size: small;
  }
  footer {
    margin-top: 50px;
  }
  .flexContainer {
    flex-direction: column;
    align-items: center;
  }

  /* --- login & register --- */

  
}