/* --------------------------------------------------------------------------------
Global
-------------------------------------------------------------------------------- */

html,
body,
#react-root {
  height: 100%;
  font-family: "Poppins";
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Poppins";
  src: url("../../../public/Poppins.ttf");
}

body {
  margin: 0px;
  background-color: #fff4df;
  max-width: 100%;
}

img {
  display: inline-block;
  max-width: 100%;
}

h1 {
  margin: 0;
  text-align: center;
  font-size: 72px;
  line-height: 5.5rem;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, .2);
}

/* --------------------------------------------------------------------------------
Container
-------------------------------------------------------------------------------- */

.container,
.privacy-policy,
.guaranteePage {
  padding: 0px 75px 0px 75px;
}

/* --------------------------------------------------------------------------------
Alert
-------------------------------------------------------------------------------- */

.alert {
  box-sizing: border-box;
  padding: 15px 10px;
  margin: 15px 0;
  border: 2px solid #e01616;
  background-color: #efefef;
  border-radius: 3px;
  color: #e01616;
  font-size: 0.8rem;
}

a {
  text-decoration: none;
}

/* --------------------------------------------------------------------------------
Responsivity
-------------------------------------------------------------------------------- */

@media (max-width: 815px) {
  /* LANDING PAGE */

  /* sizing */
  .hero h1 {
    font-size: 48px;
    line-height: 3.5rem;
  }
  .hero p {
    font-size: medium;
  }
  .main-button {
    width: 12rem;
    height: 2.3rem;
    font-size: 1.2rem;
  }
  /* scrollables */
 
  
  /* margins */
  .works-section {
    margin-top: 25px;
  }
  .testimonials-background {
    margin-top: 50px;
  }
  .testimonials {
    margin-top: 25px;
    margin-bottom: 35px;
  }
  .sample-outer-bg {
    padding-bottom: 25px;
  }
  .guarantee-container {
    padding-top: 50px;
    padding-bottom: 0;
  }
  .guarantee-sky-bg {
    padding-top: 75px;
    padding-bottom: 75px
  }
  footer {
    margin-top: 50px;
  }
}
