.admin-button {
    margin: 0 auto;
    z-index: 100;
    width: 6rem;
    height: 3rem;
    color: var(--black\<deleted\|variable-f6301105\>);
    background-color: #feaf17;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    margin-bottom: 3px;
    font-family: Poppins, sans-serif;
    font-size: 1rem;
    font-weight: 600;
    transition: background-color 0.45s;
    display: flex;
    position: static;
    top: 99px;
    left: 219px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    border: 0;
    outline: 0;
  }