/* styling for the the header and modal inputs and buttons */


.profileHeader {
    font-family: Poppins;
    font-size: 2rem;
    color: rgb(51, 51, 51);
}

.modalBtns {
    margin: 5px;
    display: flex;
    justify-content: space-between;
}

.emailInput {
    border: 2px solid black;
    border-radius: 5px;
}

.passwordInput {
    border: 2px solid black;
    border-radius: 5px;
}

/* styling for the card background */
.cardBody {
    background-image: url("../../../public/honey_combs.jpeg");
       
}

.tabHeader {
    background-color: #f2e9d8;
}


