.nav {
  display: flex;
  position: fixed;
  top: 0;
  z-index: 100;
  justify-content: space-between;
  align-items: center;
  height: 2.8rem;
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 14px;
  padding-left: 1.3rem;
  padding-right: 1.3rem;
  background-color: #fff4df;
}

.nav-links{
  font-size: .82rem;
  font-weight: 600;
  color: #474546;
  cursor: pointer;
}

.nav-left {
  display: flex;
  gap: 10px;
  align-items: center;
}

.nav-title {
  width: 9rem;
  margin-top: 7px;
}

.nav-right{
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 10px;
}

.drawerHeaderBee {
  width: 50px;
  margin: auto;
}

.start-your-song  {
     background-color: #feaf17;
     border-radius: 20px;
     text-align: center;
     margin-bottom: 5px;
     font-family: Poppins, sans-serif;
     font-weight: 600;
     transition: background-color 0.45s;
     display: flex;
     justify-content: center;
     align-items: center;
     color: var(--black\<deleted\|variable-f6301105\>);
     width: 10rem;
     height: 2rem;
     margin-top: 2px;
     padding-bottom: 2px;
}

.start-your-song:hover{
  background-color: #fff4df;
  /* background-color: #feaf17; */
}
