/* This will be for stying the audio player */

audio::-webkit-media-controls-panel {
    background-color: rgb(243, 148, 66);
  }

  audio::-webkit-media-controls-play-button {
    background-color: #97d9ee;
    border-radius: 50%;
  }

  audio::-webkit-media-controls-play-button:hover {
    background-color: rgba(161, 215, 232, 0.7);
  }

  audio::-webkit-media-controls-timeline {
    background-color: #97d9ee;
    border-radius: 25px;
    margin-left: 10px;
    margin-right: 10px;
   
  }

  audio::-webkit-media-controls-time-remaining-display {
    color: #fff;
  }

  /* This will be for styling the headers */
  .artistHeader {
    font-family: Poppins;
    font-size: 2rem;
    color: rgb(51, 51, 51);
  }

  .lyricsHeader {
    font-family: Poppins;
    font-size: 2rem;
    color: rgb(51, 51, 51);
  }

  .detailsHeader {
    font-family: Poppins;
    font-size: 2rem;
    color: rgb(51, 51, 51);
  }

  .addOnHeader {
    font-family: Poppins;
    font-size: 2rem;
    color: rgb(51, 51, 51);
  }