/* This will be for stying the audio player */

  audio::-webkit-media-controls-panel {
      background-color: rgb(243, 148, 66);
    }

  audio::-webkit-media-controls-play-button {
    background-color: #b8d5e0ba;
    border-radius: 50%;
  }

  audio::-webkit-media-controls-play-button:hover {
    background-color: rgba(161, 215, 232, 0.7);
  }

  audio::-webkit-media-controls-timeline {
    background-color: #b8d5e0ba;
    border-radius: 25px;
    margin-left: 10px;
    margin-right: 10px;
   
  }

  audio::-webkit-media-controls-time-remaining-display {
    color: #fff;
  }

  /* This will be for styling the headers and titles */
  .cardContainer {
    background-color:  #fff4df;
    min-height:calc(100vh - 1px);
    height:auto;
    box-sizing:border-box;
    background-image: url('honey_combs.jpeg');
  }

  .artistHeader {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 2rem;
    color: rgb(51, 51, 51);
  }

  .songTitle {
    font-family: Poppins;
    font-size: 2rem;
    color: rgb(51, 51, 51);
    
  }

  .artistTitle {
    font-size: 1rem;
    color: rgb(51, 51, 51);
  }

  .lyricsHeader {
    text-align: center;
    font-family: Poppins;
    font-size: 2rem;
    color: rgb(51, 51, 51);
  }

  .detailsHeader {
    font-family: Poppins;
    font-size: 2rem;
    color: rgb(51, 51, 51);
    margin-bottom: 0;
    margin-top: 0px;
    text-align: center;
  }

  .detailsContainer {
    display: flex;
    flex-direction: column;
    padding: 15px 40px 40px 40px;
    background-color: #fff4df;
    border-radius: 4px;
    margin-top: 50px;
    /* gap: 25px */
  }

  .detailsRow {
    display: flex;
    gap: 50px;
    justify-content: space-between;
  }

  .detailsItem {
    display: flex;
    flex-direction: column;
    width: 50%
  }

  .detailsItem2 {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  .detailsItem2 p {
    text-align: right;
  }

  .detailsItem p {
    margin: 0
  }

  .songDetails {
    margin-bottom: 500px;
    margin-top: 100px;
    width: 50%;
    min-width: 600px;
    margin: auto;
    border-radius: 4px;
    outline: #feaf17 solid 4px;
    padding: 16px;
    background-color: #fff4df;
  }

  .songDetails h1 {
    text-align: center;
  }
  .songDetails p {
    text-align: center;
  }
  .songDetails audio {
    display: block;
    margin: auto;
  }

  .back-btn {
    background-color:  #feaf17;
    border-radius: 10px;
    display: block;
    background-color: #feaf17;
    border: 1px solid #000;
    border-radius: 13px;
    font-family: Poppins, sans-serif;
    font-weight: 600;
    margin-top: 27px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
    padding: 9px 15px;
  }

  