.si-page {
  width: 100%;
}

.si-hero {
  position: relative;
  color: white;
}

.si-hero img {
  height: auto;
  object-fit: cover;
  object-position: center;
  width: 100%;
}

.si-hero h1 {
  margin: 0;
  padding: 0;
  font-size: 35px;
  text-align: left;
  margin-bottom: -20px;
}

.si-hero p {
  margin: 0;
  padding: 0;
  font-size: 20px;
  text-align: left;
}

.si-hero button {
  margin-left: 30px;
}

.si-heroContents {
  position: absolute;
  bottom: 20px;
  left: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.si-yellowLine {
  margin: 0 auto !important;
  width: 100%;
}

.mother-yellowLine {
  width: auto;
  margin: 0 40px;
}

.si-types {
  display: flex;
  justify-content: center;
  gap: 30px;
  background-color: white;
  padding: 0 50px;
  background-image: url("https://res.cloudinary.com/dke4ukd0z/image/upload/v1714074405/Songbee/si-checker_cqzcqt.webp");
}

.si-types-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
.si-types-1 img {
  width: 200px;
  height: 200px;
  border-radius: 9999px;
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 30;
  object-fit: cover;
  object-position: center;

}

.si-types-1-text {
  display: flex;
  flex-direction: column;
  gap: 8px;
  background-image: url("https://res.cloudinary.com/dke4ukd0z/image/upload/v1714076633/Songbee/si-blue-textbox_lcxoih.png");
  background-repeat: no-repeat;
  background-position: center;
  width: max-content;
  padding: 20px 30px;
  background-size: 100% 100%;
  text-align: center;
  margin-top: -50px;
  position: relative;
  z-index: 20;
  padding-top: 40px;
}

.si-types-1-text h2 {
  padding: 0;
  margin: 0;
  font-size: 1rem;
  margin-bottom: -0.5rem;
}

.si-types-1-text p {
  padding: 0;
  margin: 0;
  width: 250px;
}

.left-buzz {
  display: flex;
  flex-direction: column;
  gap: 25px;
  position: relative;
  width: 40%;
  padding-left: 50px;
}
.left-buzz img {
  width: 100%;
  height: auto;
  position: absolute;
  top: 30px;
}

.buzz-title {
  width: 100%;
  display: flex;
  gap: 0px;
}

.buzz-title img {
  width: 150px;
  margin-left: -50px;
  position: absolute;
  right: -110px;
  top: -10px;
  z-index: 2
}

.theBuzz {
  padding: 30px;
  background-color: #ffdeb0;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.buzz-title h2 {
  margin: 0;
  padding: 0;
  font-size: 2.5rem !important;
  font-weight: 700;
  background-image: url("https://res.cloudinary.com/dke4ukd0z/image/upload/v1714074421/Songbee/WTB_iikpwr.webp");
  background-repeat: no-repeat;
  background-position: center;
  width: max-content;
  padding: 20px 30px;
  background-size: 100% 100%;
}

.left-buzz a {
  background-color: #ffa200;
  color: black;
  padding: 5px 10px;
  font-weight: bolder;
  display: flex;
  align-items: center;
  width: max-content;
  gap: 5px;
}

.left-buzz p {
  max-width: 80%;
}

.right-buzz img {
  transform: rotate(-10deg);
  width: 600px;
}

.right-buzz {
  position: relative;
  width: 55%;
}

.theBook {
  display: flex;
  position: absolute;
  top: 20px;
  left: 20px;
  transform: rotate(-10deg);
  width: 550px;
  gap: 20px;
  font-family: "PacificNorthwestRough-NormalMed";
  font-weight: bolder;
  font-size: 18px;
}

.bookList p > img {
  width: 30px;
  height: 30px;
  background-position: center;
  background-size: contain;
}

.bookList p {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 0;
  margin: 0;
  font-weight: 300;
}

.bookList {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.theBook-left h3 {
  text-decoration: underline;
  font-weight: bolder;
  text-align: center;
  font-size: 30px;
}

.theBook-learn {
  display: flex;
  justify-content: center;
  gap: 10px;
  position: relative;
}

.theBook-learn p {
  background-color: #feaf17;
  padding: 5px;
  color: black;
  font-family: poppins;
  font-size: 10px;
}

.theBook-learn a {
  background-color: #feaf17;
  padding: 5px 10px;
  color: black;
  font-family: poppins;
}

.buzz-arrows {
  width: 50px !important;
  height: auto !important ;
  position: absolute;
  top: -30px;
  transform: rotate(170deg);
  left: -10px;
}

.buzz-pencil {
  position: absolute;
  right: 30px;
  bottom: 200px;
  height: auto;
  width: 10%;
  z-index: 30;
}

.buzz-honeycomb {
  position: absolute;
  right: 0;
  bottom: 0;
  height: auto;
  width: 300px;
}

.si-heroContents h1 {
  background-image: url("https://res.cloudinary.com/dke4ukd0z/image/upload/v1714074410/Songbee/si-header-thingy_bosynn.png");
color:#474546;
  background-repeat: no-repeat;
  background-position: center;
  width: max-content;
  padding: 5px 40px;
  background-size: 100% 100%;
}

.si-heroContents p {
  background-image: url("https://res.cloudinary.com/dke4ukd0z/image/upload/v1714074410/Songbee/si-header-thingy_bosynn.png");
  background-repeat: no-repeat;
  background-position: center;
  width: max-content;
  padding: 20px 50px;
  background-size: 100% 100%;
  color: black;
  font-weight: 600;
}

.beeSmart {
  background-color: white;
  display: flex;
  padding: 50px;
}

.bs-leftText h2 {
  background-image: url("https://res.cloudinary.com/dke4ukd0z/image/upload/v1714072088/Songbee/backgroundddd_ccuuao.png");
  background-repeat: no-repeat;
  background-position: center;
  width: max-content;
  padding: 30px 80px;
  background-size: 100% 100%;
  font-size: 4rem;
}

.bs-left > img {
  height: 200px;
  width: auto;
  position: absolute;
  left: 10px;
  top: 20px;
  transform: rotate(45deg);
  z-index: 30;
}

.bs-leftText img {
  height: 100px;
  width: auto;
  position: absolute;
  right: 35px;
  top: 90px;
}

.bs-leftText {
  position: relative;
  width: max-content;
}

.bs-highlight {
  color: #feaf17;
}

.bs-left {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.bs-right {
  display: flex;
  width: 40%;
  flex-direction: column;
  gap: 30px;
}

.bs-rightCard {
  display: flex;
  gap: 50px;
  align-items: center;
}
.bs-rightImage {
  background-color: #feaf17;
  height: 100px;
  width: 100px;
  border-radius: 9999px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100px;
}

.bs-rightImage img {
  width: 70px;
  height: auto;
}

.bs-rightCard p {
  font-weight: 500;
  font-size: 25px;
}

.faa {
  background-color: #e1ebef;
  padding: 50px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.faa h2 {
  background-image: url("https://res.cloudinary.com/dke4ukd0z/image/upload/v1714072109/Songbee/img-12_t3mf0e.png");
  background-repeat: no-repeat;
  background-position: center;
  width: max-content;
  padding: 10px 50px;
  background-size: 100% 100%;
  margin: 0 auto;
  text-align: center;
  font-size: 2.5rem;
}

.faaCards {
  display: flex;
  justify-content: center;
  gap: 50px;
}

.faaCard {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.faaCard img {
  height: 200px;
  width: 200px;
  border-radius: 9999px;
  border: 1px solid #feaf17;
  background-size: cover;
  background-position: center;
  object-fit: cover;
  object-position: center;
}

.experts {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 50px;
  background-color: white;
  padding-bottom: 0;
}

.experts h2 {
  background-image: url("https://res.cloudinary.com/dke4ukd0z/image/upload/v1714072102/Songbee/bottom-si_x37m6w.png");
  background-repeat: no-repeat;
  background-position: center;
  width: max-content;
  padding: 10px 50px;
  background-size: 100% 100%;
  margin: 0 auto;
  text-align: center;
  font-size: 2.5rem;
  color: #474546;
}

.experts-cards {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.expert-card {
  width: 400px;
  background-image: url("https://res.cloudinary.com/dke4ukd0z/image/upload/v1714072098/Songbee/bottom-si-cover_hcyz8o.png");
  background-repeat: no-repeat;
  background-position: center;
  padding: 30px 50px;
  background-size: 100% 100%;
}

.card-contents p{
font-size: 14px;
margin: 0;
padding: 0;

}

.card-contents h3{
  font-weight: 600;
  font-size: 1.5rem;
  margin: 0;
  padding: 0;
}

.card-contents span{
  font-size: 1rem;
  
}

.card-contents{
  display: flex;
  flex-direction: column;
  gap: 10px; 
}