footer {
  margin-top: 40px;
  padding: 20px;

  background-color: #f3f1eb;
  
}

.footerIcon{
  width: 9rem;
}

.flexContainer{
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 40px;
  display: flex;
  padding-left: 6%;
}

.flexColumn {
  width: 10rem;
  text-align: left;
  width: 10rem;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 14px;
  line-height: 20px;
}

.columnHeader {
  margin-bottom: 10px;
  font-family: Poppins, sans-serif;
  font-size: 1rem;
  font-weight: 600;
  color: #333;
}

.flexColumn a {
  display: block;
  color: #feaf17;
  font-size: 14px;
}
