/* container */
.how-jr-works-box {
  position: relative;
  background-color: #e1ebef;
  width: 75%;
  margin: -100px auto 0;
  padding: 25px 50px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

/* arrows and bees */
.jr-works-arrows-and-bees {
  padding-left: 5%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.jr-works-arrows-and-bees img {
  width: 75px;
  margin-left: -40px; 
}

/* text at top of box */
.jr-works-header {
  text-align: center;
}
.jr-works-header h2 {
  margin-bottom: 0;
}
.jr-works-header h5 {
  margin-top: 0;
}

/* 1 2 3 section */
.jr-works {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 5%;
}
.jr-works p {
  font-size: small;
  width: 30%;
}

/* container for each numbered item */
.jr-works-item {
  width: 30%;
  display: flex;
  flex-direction: column;
}

/* includes number and text for item */
.jr-works-item-header {
  display: flex;
  flex-direction: row;
  align-items: top;
  gap: 10px;
}
.jr-works-item-header h3 {
  margin-top: 10px;
  margin-bottom: 0px;
}

/* just the number of each item */
.jr-works-number {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  background-color: #FFDEB0;
}
.jr-works-number h2 {
  text-align: center;
  padding-top: 7px;
  margin-top: 0;
}

.jr-works-beehive {
  position: absolute;
  bottom: -30px;
  right: -30px;
  width: 100px;
}
