/* --------------------------------------------------------------------------------
General
-------------------------------------------------------------------------------- */

.artist-welcome {
    text-align: center;
}

/* .tabHeader {
    background-color: #f2e9d8;
} */

/* .tab-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 15px 50px 50px;
} */

/* --------------------------------------------------------------------------------
Artist Profile Tab
-------------------------------------------------------------------------------- */

.artist-profile-body p {
    display: inline-block;
    width: 50%
}

.artist-profile-body img {
    width: 50%
}

.artist-profile-name {
    text-align: center;
}
.artist-profile-flex {
    display: flex;
    flex-direction: column;
}

.artist-profile-row {
    display: flex;
    flex-direction: row;
}

/* --------------------------------------------------------------------------------
Songbee Requests Tab
-------------------------------------------------------------------------------- */



/* --------------------------------------------------------------------------------
Junior Requests Tab
-------------------------------------------------------------------------------- */

/* --------------------------------------------------------------------------------
Documents Tab
-------------------------------------------------------------------------------- */
.reqFormGroup{
    margin-top: 10px;
}

.w9-input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}


