/* --------------------------------------------------------------------------------
General
-------------------------------------------------------------------------------- */

.portal-title {
    text-align: center;
}

.tab-body {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 30px;
    overflow: scroll
}

.portal-no-data {
    margin-bottom: auto;
}

/* --------------------------------------------------------------------------------
Requests Tab
-------------------------------------------------------------------------------- */

.noRequests {
    text-align: center;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, .2);
}

.user-portal-details-btn {
    margin: 0 auto;
    padding: 3px 10px;
    color: var(--black\<deleted\|variable-f6301105\>);
    background-color: #feaf17;
    border-radius: 5px;
    font-family: Poppins, sans-serif;
    transition: background-color 0.45s;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    border: 0;
    outline: 0;
}

/* --------------------------------------------------------------------------------
Profile Tab
-------------------------------------------------------------------------------- */

.user-portal-inputs {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.user-portal-inputs p {
    margin: 0;
    text-align: center;
}
.user-portal-inputs input {
    width: 300px;
    height: 38px;
    color: #333;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 8px 12px;
    font-size: 14px;
    line-height: 1.42857;
    display: block;
    border-radius: 5px;
    margin-top: 10px;
    margin: auto;
}

@media (max-width: 600px) {
    .user-portal-inputs input {
        width: 250px;
    }
}

.user-invalid-text {
    color: red;
}

.user-portal-save {
    background-color: #feaf17;
    border: 1px solid #000;
    border-radius: 10px;
    font-family: Poppins, sans-serif;
    font-weight: 600;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
    padding: 5px 15px;
    width: 85px;
    margin: auto;
}

/* --------------------------------------------------------------------------------
Credit Tab
-------------------------------------------------------------------------------- */

.user-credit-tab {
    text-align: center;
}

.user-credit-tab a {
    color: #feaf17;
}