.nav {
  /* flex box layout */
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 4.6875rem;
  width: 100%;

  margin: 0 0 30px;
  background-color: #fff4df;
  overflow: hidden;
}

.nav a {
  width: 9rem;
  height: auto;
}

.nav-title {
  font-size: 24px;
  font-weight: 700;
  padding-left: 10px;
  margin: 0;
}

.navLink {
  display: inline-block;
  color: #474546;
  background-color: #fff4df;
  text-align: center;
  padding: 24px 10px;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 700;

  /* these last two make the logout button in
  the nav bar look like another link */
  border: none;
  cursor: pointer;
  outline: 0;
}

/* .navLink:hover {
  background-color: #008183;
} */
