/*--------General------------ */

.community-heading {
  font-size: 3.5rem;
  font-weight: 600;
  color: rgb(76, 72, 72);
  text-align: center;
}

.sub-heading {
  text-align: center;
}

/*--------For the artists photos------------ */

.artist-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 0 50px;
}

.artist-card {
  width: 25%;
  text-align: center;
}

.artistSlide-img {
  display: inline-block;
  border-radius: 50%;
  object-fit: cover;
}

.audio-wrapper {
  display: flex;
  justify-content: space-evenly;
}

.audio {
  width: 50%;
  margin: 0px;
  margin-top: 0%;
  margin-left: -1%;
}

/* ---------Style for the play button------- */

.player-container {
  cursor: pointer;
  text-indent: -999999px;
  height: 50px;
  width: 50px;
  padding: 12px 18px;
  z-index: 2;

  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBkPSJNMiAyNHYtMjRsMjAgMTItMjAgMTJ6Ii8+PC9zdmc+);
  background-repeat: no-repeat !important;
  background-position: absolute;
  border-radius: 50%;

  background-repeat: no-repeat;
  background-position: center;
  background-size: 25px;
  background-color: orange;
}

.player-container:hover {
  background-color: #fed07b;
}

.play {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBkPSJNMiAyNHYtMjRsMjAgMTItMjAgMTJ6Ii8+PC9zdmc+);

}

.pause {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBkPSJNMTAgMjRoLTZ2LTI0aDZ2MjR6bTEwLTI0aC02djI0aDZ2LTI0eiIvPjwvc3ZnPg==) !important;
}

.artistCommunityBtn {
  margin-top: -30px;
}

/*---------- Styling for the pop up--------- */

.popup {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 110px;
  border-radius: 5px;
  background-color: #fed07b;
  padding: 0;
  padding-left: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  z-index: 999;
}

.popup {
  margin: 5px;
  height: 100px;
 
}

.song-title {
  position: absolute;
  margin: 20px;
  height: 0px;
  margin-left: -4px;
  margin-top: 40px;
}

.genre {
 position: absolute;
 margin-top: 80px;
 margin-left: -5px;

}

.popup h3 {
  text-decoration: underline;
}

.pop-up-content {
  display: flex;
  align-items: center;
  margin-top: auto;
  
}

.audio-btn {
  height: 60px;
  padding-top: 20px;
  margin-top: 5px;
  margin-right: 150px;
  margin-left: 270px;
  width: 40%;
}

.close-btn button{
  margin-top: 20px;
  border-radius: 50%;
  font-family: Poppins, sans-serif;
  font-weight: bold;
  width: 40px;
  cursor: pointer;
  background-color: #B8D5E0;
}

.close-btn button:hover {
  background-color: #fed07b;
}

/* ----------End of pop up styling------- */


