.banner {
    background-color: #feaf17;
    width: 100%
}

.banner p {
    text-align: center;
    padding-top: 14px;
    padding-bottom: 14px;
    margin: 0 auto 0;
}

.banner span {
    color: black;
    text-decoration: underline;
}