.reqFormPage {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

.reqFormPage h1 {
    text-align: center;
    font-weight: 600;
    font-size: 2rem;
    color: black;
}

.reqFormPage h2 {
    margin-bottom: 0;
}

.reqFormPage h4 {
    margin-bottom: 0;
}

.reqFormPage h5 {
    margin-top: 0;
}

.reqFormPage p {
    text-align: center;
    font-weight: 500;
    font-size: 14px;
    color: gray;
}

.reqForm {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.reqFormAdditionalDetails {
    margin: auto;
}

.reqFormGroup {
    display: flex;
    gap: 30px;
}

.reqFormGroup label {
    font-weight: 500;
}

.reqFormGroup input {
    height: 45px;
    border-radius: 8px;
    width: 100%;
    border: 0;
    padding-left: 15px;
}

.reqFormGroup select {
    height: 45px;
    width: 100%;
    border: 0;
    padding-left: 15px;
}

.reqFormInput {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 50%;
}

.reqFormSelect {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 5px;
    width: 50%;
}

.reqFormSubmit {
    margin: 20px auto;
    width: 16rem;
    height: 2.5rem;
    background-color: #feaf17;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    font-family: Poppins, sans-serif;
    font-size: 1.4rem;
    font-weight: 600;
    display: flex;
    position: static;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    border: 1px solid black;
}

#reqFormNameInput {
    gap: 5px
}

#additionalDetails {
    display: flex;
    justify-content: center;
}

#additionalDetailsHeader {
    margin-bottom: 20px;
}
